@import "tailwindcss";

body {
  background-color: #FDFCF8;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e7e5e4;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d6d3d1;
}
